<ul class="list-inline">
  <li class="list-inline-item"><button (click)="blockUser()" class="btn btn-warning">Bloquer</button></li>
  <li class="list-inline-item"><button (click)="unblockUsers()" class="btn btn-success">Débloquer</button></li>
  <li class="list-inline-item"><button (click)="deleteUsers()" class="btn btn-danger">Supprimer</button></li>
</ul>
<ag-grid-angular
  style="width: 100%; height: 500px;"
  class="ag-theme-balham"
  [enableSorting]="true"
  [enableFilter]="true"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  (gridReady)="onReady($event)"
  [paginationAutoPageSize]="true"
  [pagination]="true"
>
</ag-grid-angular>
