<div class="col-sm-4 pt-3 pt-sm-5">

</div>
<div class="col-sm-4 d-sm-flex flex-sm-column pt-sm-5 pb-sm-5 mb-sm-1">
  <h1 class="brand text-center">Connexion</h1>
  <form [formGroup]="fg" (submit)="onSubmit()" class="my-sm-auto">
    <mat-card class="text-center">
      <mat-card-content>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" formControlName="username">
        </div>
        <div class="form-group" *ngIf="!setPass">
          <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password">
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a (click)="setPassword()" *ngIf="!setPass" class="pass-recover">Mot de passe oublié</a>
        <a (click)="setPass = false" *ngIf="setPass" class="text-left pl-3 pass-recover">&lt;&lt;&lt; Retour à la connexion</a>
        <button *ngIf="!setPass" class="btn btn-primary">SE CONNECTER</button>
        <button *ngIf="setPass" class="btn btn-primary">Envoyer</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
