<p>
  Creer un modele d'autorisation
</p>
<div class="alert alert-warning" role="alert" *ngFor="let error of errors">
  <span *ngIf="error.dataPath == '.start_at'">
    la date de début devrait correspondre au format date
  </span>
  <span *ngIf="error.dataPath == '.end_at'">
    la date de fin devrait correspondre au format date
  </span>
  <span *ngIf="error.dataPath == '.divesites'">
    les coeurs marins ne devraient pas avoir moins de 1 élément
  </span>
  <span *ngIf="error.dataPath == '.template'">
    le template ne peut pas être vide
  </span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="permitForm">
  <div class="form-group">
    <label>Date de Debut</label>
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" formControlName="start_at" ngbDatepicker #startDate="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="startDate.toggle()" type="button">
          <img src="../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Date de Fin</label>
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="end_at" ngbDatepicker #endDate="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="endDate.toggle()" type="button">
          <img src="../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Modèle de type d'autorisation</label>
    <div class="custom-file">
     <input type="file" class="custom-file-input"  id="customFileLang" lang="fr" (change)="upload($event)" accept=".pdf">
      <label class="custom-file-label" for="">Sélectionner un fichier </label>
    </div>
  </div>
  <div class="form-check">
    <label class="form-check-label">Sélectionner un coeur(s) marin(s)</label>
  </div>
    <ul class="list-inline">
      <li class="list-inline-item alert alert-info" *ngFor="let heart of diveHearts">{{heart.name}} <a class="rag-red" (click)="delete(heart)">x</a></li>
    </ul>
  <div id="leafletmap" style="height: 300px;width: 100%;"
       leaflet
       [leafletOptions]="leafletOptions"
       (leafletMapReady)="onMapReady($event)">
  </div>

  <button type="submit" (click)="save()" class="btn btn-primary"> Envoyer </button>
</form>

