<h1 class="mat-h1">Type d'autorisation</h1>
<ul class="list-inline">
  <li class="list-inline-item"><a routerLink="/type-permit-form" class="btn btn-success">Ajouter nouvelle autorisation</a></li>
  <li class="list-inline-item"><a (click)="activate()" class="btn btn-primary">Activer</a></li>
</ul>
<ag-grid-angular
  style="width: 100%; height: 500px;"
  class="ag-theme-balham"
  [enableSorting]="true"
  [enableFilter]="true"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  (gridReady)="onReady($event)"
  [defaultColDef]="defaultColDef"
  [paginationAutoPageSize]="true"
  [pagination]="true"
>
