<div class="grid-container" *ngIf="permits && users && boats && diveHearts && groupedDiveSites">
  <h1 class="mat-h1">Tableau de bord</h1>
  <div class="row text-center d-flex">
  <div class="col-sm-6">
    <mat-form-field>
      <mat-select placeholder="Site de plongée" (selectionChange)="setStatisticsSite($event)">
        <mat-option  value="tous">Tous</mat-option>
        <mat-option *ngFor="let divesite of diveSites" [value]="divesite">
          {{ divesite.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <div class="col-sm-6">
      <mat-form-field>
        <mat-select placeholder="Coeur Marine" (selectionChange)="setStatisticsHeart($event)">
          <mat-option  value="tous">Tous</mat-option>
          <mat-option *ngFor="let diveHeart of diveHearts" [value]="diveHeart">
            {{ diveHeart.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-toolbar class="mat-toolbar mat-toolbar-single-row">Taux de fréquentation</mat-toolbar>
  <div class="row text-center d-flex">
    <div class="col placeholder">
      <h4>{{dives.length/nbrDivesDays | number}}</h4>
      <span class="text-muted">Par Jour</span>
    </div>
    <div class="col placeholder">
      <h4>{{dives.length/(nbrDivesDays * 30) | number}}</h4>
      <span class="text-muted">Par mois</span>
    </div>
    <div class="col placeholder">
      <h4>{{dives.length/(nbrDivesDays * 365) | number}}</h4>
      <span class="text-muted">Par Année</span>
    </div>
    <div class="col placeholder">
      <h4>{{dives.length/groupedDiveSites.length | number}}</h4>
      <span class="text-muted">Par site</span>
    </div>
    <div class="col placeholder">
      <h4>{{someHeartsDive/diveHearts.length | number }}</h4>
      <span class="text-muted">Par Coeur</span>
    </div>
  </div>

  <mat-toolbar class="mat-toolbar mat-toolbar-single-row">Utilisateurs</mat-toolbar>
  <div class="row text-center d-flex">
    <div class="col-sm-3 placeholder">
      <h4>{{users.length}}</h4>
      <span class="text-muted">Plongeurs</span>
    </div>
    <div class="col-sm-3 placeholder">
      <h4>{{getCntUsersByType(users, 'structure')}}</h4>
      <span class="text-muted">Structures</span>
    </div>
    <div class="col-sm-3 placeholder">
      <h4>{{getCntUsersByType(users, 'particulier')}}</h4>
      <span class="text-muted">Particuliers</span>
    </div>
    <div class="col-sm-3 placeholder">
      <h4>{{boats.length}}</h4>
      <span class="text-muted">Bateaux</span>
    </div>
  </div>
  <div class="row text-center d-flex">
    <div class="col-sm-3 placeholder">
      <h4>{{permits.length}}</h4>
      <span class="text-muted">Signataires</span>
    </div>
    <div class="col-sm-3 placeholder">
      <h4>{{getCntPermit('structure')}}</h4>
      <span class="text-muted">Structures</span>
    </div>
    <div class="col-sm-3 placeholder">
      <h4>{{getCntPermit('particulier')}}</h4>
      <span class="text-muted">Particuliers</span>
    </div>
    <div class="col-sm-3 placeholder">
      <h4>{{getCntPermit('boats')}}</h4>
      <span class="text-muted">Bateaux</span>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-md-12">
      <chart [options]="optionsSignatairebyHours"></chart>
    </div>
  </div>
  -->

  <mat-toolbar class="mat-toolbar mat-toolbar-single-row">Plongées</mat-toolbar>
  <div class="row text-center d-flex">
    <div class="col-sm-3">
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="input-group">
          <div class="form-group">
            <div class="input-group">
              <label>Du </label>
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="startDatePModel" ngbDatepicker
                     #startDate="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="startDate.toggle()" type="button">
                  <i class="fa fa-calendar" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 d-flex">
      <div class="input-group">
        <div class="form-group">
          <div class="input-group">
            <label>Au </label>
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="endDatePModel" ngbDatepicker
                   #endDate="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="endDate.toggle()" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
      </div>
    <!--
      <div class="col-sm-3">
        <mat-form-field>
          <mat-select placeholder="Site de plongée" (selectionChange)="setStatistics($event)">
            <mat-option  value="tous">Tous</mat-option>
            <mat-option *ngFor="let divesite of diveSites" [value]="divesite">
              {{ divesite.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      -->
      <div class="col-sm-6 text-right">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" (click)="setStatsDive('d')" class="btn btn-secondary">Par Jour</button>
          <button type="button" (click)="setStatsDive('w')" class="btn btn-secondary">Par Semaine</button>
          <button type="button" (click)="setStatsDive('m')" class="btn btn-secondary">Par Mois</button>
          <button type="button" (click)="setStatsDive('y')" class="btn btn-secondary">Par Année</button>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <chart [options]="optionsHours"></chart>
    </div>
  </div>
  <mat-toolbar class="mat-toolbar mat-toolbar-single-row">Sites</mat-toolbar>
  <div class="row">
    <div class="col-md-12">
      <chart [options]="optionsSites"></chart>
    </div>
  </div>
  <mat-toolbar class="mat-toolbar mat-toolbar-single-row">Coeurs</mat-toolbar>
  <div class="row">
    <div class="col-md-12">
      <chart [options]="optionsHearts"></chart>
    </div>
  </div>
  <mat-toolbar class="mat-toolbar mat-toolbar-single-row">Type de Plongée</mat-toolbar>
  <div class="row">
    <div class="col-md-12">
      <chart [options]="optionstypeDives"></chart>
    </div>
  </div>



