<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
            Statistiques
  <div class="row text-center d-flex">
    <div class="col-sm-3 placeholder">
      <h4>{{nbrUsers}}</h4>
      <span class="text-muted">Plongeurs(structure/particulers)</span>
    </div>
    <div class="col-sm-3 placeholder">
      <h4>{{nbrPermits}}</h4>
      <span class="text-muted">Autorisations</span>
    </div>
    <div class="col-sm-3 placeholder">
      <h4>{{nbrDivesSites}}</h4>
      <span class="text-muted">Site de plongée/Coeur(s) marin(s)</span>
    </div>
    <div class="col-sm-3 placeholder">
      <h4>{{nbrDives}}</h4>
      <span class="text-muted">Plongées</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <chart [options]="options"></chart>
    </div>
  </div>
</div>
