/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

.btn-primary {

}

body { margin: 0; }
.rag-red {
  background-color: lightcoral;
}
.rag-green {
  background-color: lightgreen;
}
.rag-amber {
  background-color: lightsalmon;
}

.rag-red-outer  {
  background-color: lightcoral;
}

.rag-green-outer  {
  background-color: lightgreen;
}

.rag-amber-outer {
  background-color: lightsalmon;
}
