/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

.btn-primary {
  background: #ddfe00; /* Old browsers */
  background: -moz-linear-gradient(left, #ddfe00 0%, #c4d600 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ddfe00 0%,#c4d600 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ddfe00 0%,#c4d600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddfe00', endColorstr='#c4d600',GradientType=1 ); /* IE6-9 */
  color: #000 !important;
}

body { margin: 0; }
